@-webkit-keyframes wave {
  0% {
    transform: rotateZ(0deg) translate3d(0px, 8%, 0px) rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg) translate3d(0px, 8%, 0px) rotateZ(-360deg); } }
@-moz-keyframes wave {
  0% {
    transform: rotateZ(0deg) translate3d(0px, 8%, 0px) rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg) translate3d(0px, 8%, 0px) rotateZ(-360deg); } }
@-ms-keyframes wave {
  0% {
    transform: rotateZ(0deg) translate3d(0px, 8%, 0px) rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg) translate3d(0px, 8%, 0px) rotateZ(-360deg); } }
@-o-keyframes wave {
  0% {
    transform: rotateZ(0deg) translate3d(0px, 8%, 0px) rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg) translate3d(0px, 8%, 0px) rotateZ(-360deg); } }
@keyframes wave {
  0% {
    transform: rotateZ(0deg) translate3d(0px, 8%, 0px) rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg) translate3d(0px, 8%, 0px) rotateZ(-360deg); } }
@keyframes lighthouse {
  0% {
    transform: translate3d(7%, 0px, 0px) rotateZ(3deg); }
  100% {
    transform: translate3d(-7%, 0px, 0px) rotateZ(-3deg); } }
@keyframes boat {
  0% {
    transform: translate3d(3%, 0px, 0px) rotateZ(2deg); }
  100% {
    transform: translate3d(-3%, 0px, 0px) rotateZ(-2deg); } }
@keyframes lighthouseMove {
  0% {
    left: 0; }
  50% {
    left: 7%; }
  100% {
    left: 0%; } }
@-webkit-keyframes boatMove {
  0% {
    left: 50%;
    transform: translate3d(3%, 0px, 0px) rotateZ(2deg); }
  50% {
    left: 57%;
    transform: translate3d(-3%, 0px, 0px) rotateZ(-2deg); }
  100% {
    left: 50%;
    transform: translate3d(3%, 0px, 0px) rotateZ(2deg); } }
@-moz-keyframes boatMove {
  0% {
    left: 50%;
    transform: translate3d(3%, 0px, 0px) rotateZ(2deg); }
  50% {
    left: 57%;
    transform: translate3d(-3%, 0px, 0px) rotateZ(-2deg); }
  100% {
    left: 50%;
    transform: translate3d(3%, 0px, 0px) rotateZ(2deg); } }
@-ms-keyframes boatMove {
  0% {
    left: 50%;
    transform: translate3d(3%, 0px, 0px) rotateZ(2deg); }
  50% {
    left: 57%;
    transform: translate3d(-3%, 0px, 0px) rotateZ(-2deg); }
  100% {
    left: 50%;
    transform: translate3d(3%, 0px, 0px) rotateZ(2deg); } }
@-o-keyframes boatMove {
  0% {
    left: 50%;
    transform: translate3d(3%, 0px, 0px) rotateZ(2deg); }
  50% {
    left: 57%;
    transform: translate3d(-3%, 0px, 0px) rotateZ(-2deg); }
  100% {
    left: 50%;
    transform: translate3d(3%, 0px, 0px) rotateZ(2deg); } }
@keyframes boatMove {
  0% {
    left: 50%;
    transform: translate3d(3%, 0px, 0px) rotateZ(2deg); }
  50% {
    left: 57%;
    transform: translate3d(-3%, 0px, 0px) rotateZ(-2deg); }
  100% {
    left: 50%;
    transform: translate3d(3%, 0px, 0px) rotateZ(2deg); } }
@keyframes boatMoveandquit {
  0% {
    left: 50%; }
  100% {
    left: 110%; } }
@keyframes rayon {
  0% {
    transform: rotateZ(0deg); }
  50% {
    transform: rotateZ(-3deg); }
  100% {
    transform: rotateZ(0deg); } }
@keyframes FishSwim {
  0% {
    right: 15%; }
  50% {
    right: 10%; }
  80% {
    right: 5%;
    bottom: -75px; }
  100% {
    right: 15%; } }
@-webkit-keyframes helice {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(180deg); }
  100% {
    transform: rotateX(360deg); } }
@-moz-keyframes helice {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(180deg); }
  100% {
    transform: rotateX(360deg); } }
@-ms-keyframes helice {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(180deg); }
  100% {
    transform: rotateX(360deg); } }
@-o-keyframes helice {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(180deg); }
  100% {
    transform: rotateX(360deg); } }
@keyframes helice {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(180deg); }
  100% {
    transform: rotateX(360deg); } }
@-webkit-keyframes caisse {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(40px); }
  100% {
    transform: translateY(0); } }
@-moz-keyframes caisse {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(40px); }
  100% {
    transform: translateY(0); } }
@-ms-keyframes caisse {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(40px); }
  100% {
    transform: translateY(0); } }
@-o-keyframes caisse {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(40px); }
  100% {
    transform: translateY(0); } }
@keyframes caisse {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(40px); }
  100% {
    transform: translateY(0); } }
@-webkit-keyframes fil {
  0% {
    transform: scaleY(1.1); }
  50% {
    transform: scaleY(1.2); }
  100% {
    transform: scaleY(1.1); } }
@-moz-keyframes fil {
  0% {
    transform: scaleY(1.1); }
  50% {
    transform: scaleY(1.2); }
  100% {
    transform: scaleY(1.1); } }
@-ms-keyframes fil {
  0% {
    transform: scaleY(1.1); }
  50% {
    transform: scaleY(1.2); }
  100% {
    transform: scaleY(1.1); } }
@-o-keyframes fil {
  0% {
    transform: scaleY(1.1); }
  50% {
    transform: scaleY(1.2); }
  100% {
    transform: scaleY(1.1); } }
@keyframes fil {
  0% {
    transform: scaleY(1.1); }
  50% {
    transform: scaleY(1.2); }
  100% {
    transform: scaleY(1.1); } }
body {
  font-family: Arial;
  margin: 0; }

header, section, footer, aside, nav, main, article, figure {
  display: block; }

#container {
  display: table;
  height: 100%;
  left: 0;
  min-height: 460px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%; }

ul {
  display: block;
  list-style: outside none none;
  margin: 0;
  padding: 0; }

.scene {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

#scene, #scene_home, #scene_ecran1, #scene_ecran2, #scene_ecran3, #scene_ecran4 {
  min-height: 460px;
  overflow: hidden;
  position: relative;
  width: 1280px;
  margin: 0;
  padding: 0; }
  #scene .layer, #scene_home .layer, #scene_ecran1 .layer, #scene_ecran2 .layer, #scene_ecran3 .layer, #scene_ecran4 .layer {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%; }
    #scene .layer div, #scene_home .layer div, #scene_ecran1 .layer div, #scene_ecran2 .layer div, #scene_ecran3 .layer div, #scene_ecran4 .layer div {
      backface-visibility: hidden;
      transform: translate3d(0px, 0px, 0px);
      transform-style: preserve-3d; }
  #scene .logo, #scene_home .logo, #scene_ecran1 .logo, #scene_ecran2 .logo, #scene_ecran3 .logo, #scene_ecran4 .logo {
    left: 4% !important;
    position: absolute;
    top: 35px !important; }
    #scene .logo img, #scene_home .logo img, #scene_ecran1 .logo img, #scene_ecran2 .logo img, #scene_ecran3 .logo img, #scene_ecran4 .logo img {
      width: 80px; }

#scene_home .layer, #scene_ecran1 .layer, #scene_ecran2 .layer, #scene_ecran3 .layer, #scene_ecran4 .layer {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }
  #scene_home .layer div, #scene_ecran1 .layer div, #scene_ecran2 .layer div, #scene_ecran3 .layer div, #scene_ecran4 .layer div {
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d; }
#scene_home .logo, #scene_ecran1 .logo, #scene_ecran2 .logo, #scene_ecran3 .logo, #scene_ecran4 .logo {
  top: 0 !important; }
#scene_home .fond, #scene_ecran1 .fond, #scene_ecran2 .fond, #scene_ecran3 .fond, #scene_ecran4 .fond {
  background: transparent url("../img/home/fond.png") no-repeat scroll 50% 100%/cover;
  height: 100%;
  width: 110%;
  position: absolute;
  left: -5%;
  top: -10%; }
#scene_home .soleil, #scene_ecran1 .soleil, #scene_ecran2 .soleil, #scene_ecran3 .soleil, #scene_ecran4 .soleil {
  right: 0;
  position: absolute;
  top: 30px !important; }
  #scene_home .soleil img, #scene_ecran1 .soleil img, #scene_ecran2 .soleil img, #scene_ecran3 .soleil img, #scene_ecran4 .soleil img {
    width: 180px; }
#scene_home .ile, #scene_ecran1 .ile, #scene_ecran2 .ile, #scene_ecran3 .ile, #scene_ecran4 .ile {
  position: absolute;
  bottom: 7%;
  left: -5%; }
  #scene_home .ile img, #scene_ecran1 .ile img, #scene_ecran2 .ile img, #scene_ecran3 .ile img, #scene_ecran4 .ile img {
    width: 70%; }
#scene_home .layer .nuages, #scene_ecran1 .layer .nuages, #scene_ecran2 .layer .nuages, #scene_ecran3 .layer .nuages, #scene_ecran4 .layer .nuages {
  width: 60%;
  top: -10px !important;
  left: 25% !important;
  position: absolute;
  margin: 0 auto;
  text-align: center; }
  #scene_home .layer .nuages img, #scene_ecran1 .layer .nuages img, #scene_ecran2 .layer .nuages img, #scene_ecran3 .layer .nuages img, #scene_ecran4 .layer .nuages img {
    position: absolute; }
  #scene_home .layer .nuages .nuage2, #scene_ecran1 .layer .nuages .nuage2, #scene_ecran2 .layer .nuages .nuage2, #scene_ecran3 .layer .nuages .nuage2, #scene_ecran4 .layer .nuages .nuage2 {
    width: 25%;
    top: -40px !important;
    left: 5%; }
  #scene_home .layer .nuages .nuage0, #scene_ecran1 .layer .nuages .nuage0, #scene_ecran2 .layer .nuages .nuage0, #scene_ecran3 .layer .nuages .nuage0, #scene_ecran4 .layer .nuages .nuage0 {
    width: 25%;
    top: 0px !important;
    left: 22%; }
  #scene_home .layer .nuages .small_cloud1, #scene_ecran1 .layer .nuages .small_cloud1, #scene_ecran2 .layer .nuages .small_cloud1, #scene_ecran3 .layer .nuages .small_cloud1, #scene_ecran4 .layer .nuages .small_cloud1 {
    top: 95px !important;
    left: 17%; }
  #scene_home .layer .nuages .small_cloud2, #scene_ecran1 .layer .nuages .small_cloud2, #scene_ecran2 .layer .nuages .small_cloud2, #scene_ecran3 .layer .nuages .small_cloud2, #scene_ecran4 .layer .nuages .small_cloud2 {
    left: 38%;
    top: 76px !important;
    z-index: -10; }
  #scene_home .layer .nuages .nuage1, #scene_ecran1 .layer .nuages .nuage1, #scene_ecran2 .layer .nuages .nuage1, #scene_ecran3 .layer .nuages .nuage1, #scene_ecran4 .layer .nuages .nuage1 {
    width: 25%;
    top: 10px !important;
    left: 35%; }
  #scene_home .layer .nuages .nuage6, #scene_ecran1 .layer .nuages .nuage6, #scene_ecran2 .layer .nuages .nuage6, #scene_ecran3 .layer .nuages .nuage6, #scene_ecran4 .layer .nuages .nuage6 {
    width: 25%;
    top: 10px;
    left: 50%;
    z-index: -8; }
#scene_home .vague, #scene_ecran1 .vague, #scene_ecran2 .vague, #scene_ecran3 .vague, #scene_ecran4 .vague {
  position: absolute;
  -webkit-animation: wave infinite 4s;
  -moz-animation: wave infinite 4s;
  -ms-animation: wave infinite 4s;
  -o-animation: wave infinite 4s;
  animation: wave infinite 4s;
  background: transparent none repeat-x scroll 0 0;
  left: -100%;
  width: 300%; }
#scene_home .vague::after, #scene_ecran1 .vague::after, #scene_ecran2 .vague::after, #scene_ecran3 .vague::after, #scene_ecran4 .vague::after {
  background-color: #009AC2;
  content: "";
  display: block;
  height: 500px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%; }
#scene_home .vague1, #scene_ecran1 .vague1, #scene_ecran2 .vague1, #scene_ecran3 .vague1, #scene_ecran4 .vague1 {
  background-image: url(../img/home/vague_ronde1.png);
  background-size: 80% 120px;
  bottom: 40px !important;
  height: 120px; }
#scene_home .vague2, #scene_ecran1 .vague2, #scene_ecran2 .vague2, #scene_ecran3 .vague2, #scene_ecran4 .vague2 {
  background-image: url(../img/home/vague_ronde2.png);
  background-size: 80% 120px;
  bottom: 10px !important;
  height: 120px;
  left: -80%;
  -webkit-animation: wave infinite 7.55556s;
  -moz-animation: wave infinite 7.55556s;
  -ms-animation: wave infinite 7.55556s;
  -o-animation: wave infinite 7.55556s;
  animation: wave infinite 7.55556s; }
#scene_home .vague3, #scene_ecran1 .vague3, #scene_ecran2 .vague3, #scene_ecran3 .vague3, #scene_ecran4 .vague3 {
  background-image: url(../img/home/vague_ronde3.png);
  background-size: 80% 130px;
  bottom: 0px !important;
  height: 120px !important;
  -webkit-animation: wave infinite 6.66667s;
  -moz-animation: wave infinite 6.66667s;
  -ms-animation: wave infinite 6.66667s;
  -o-animation: wave infinite 6.66667s;
  animation: wave infinite 6.66667s; }
#scene_home .vague4, #scene_ecran1 .vague4, #scene_ecran2 .vague4, #scene_ecran3 .vague4, #scene_ecran4 .vague4 {
  background-image: url(../img/home/vague_ronde2.png);
  background-size: 80% 130px;
  bottom: 70px !important;
  height: 120px !important;
  -webkit-animation: wave infinite 5.66667s;
  -moz-animation: wave infinite 5.66667s;
  -ms-animation: wave infinite 5.66667s;
  -o-animation: wave infinite 5.66667s;
  animation: wave infinite 5.66667s; }
#scene_home .bateau, #scene_ecran1 .bateau, #scene_ecran2 .bateau, #scene_ecran3 .bateau, #scene_ecran4 .bateau {
  position: absolute;
  bottom: 3% !important;
  left: 50%;
  width: 45%; }
  #scene_home .bateau img, #scene_ecran1 .bateau img, #scene_ecran2 .bateau img, #scene_ecran3 .bateau img, #scene_ecran4 .bateau img {
    width: 100%; }
#scene_home .bateau.quit, #scene_ecran1 .bateau.quit, #scene_ecran2 .bateau.quit, #scene_ecran3 .bateau.quit, #scene_ecran4 .bateau.quit {
  animation: 6s boatMoveandquit; }
#scene_home .fish, #scene_ecran1 .fish, #scene_ecran2 .fish, #scene_ecran3 .fish, #scene_ecran4 .fish {
  position: absolute;
  bottom: -85px;
  right: 15%;
  animation: 8s infinite FishSwim; }
#scene_home .msg_wrapper, #scene_ecran1 .msg_wrapper, #scene_ecran2 .msg_wrapper, #scene_ecran3 .msg_wrapper, #scene_ecran4 .msg_wrapper {
  z-index: 100; }
#scene_home .msg, #scene_ecran1 .msg, #scene_ecran2 .msg, #scene_ecran3 .msg, #scene_ecran4 .msg {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  height: 50%; }
  #scene_home .msg h2, #scene_ecran1 .msg h2, #scene_ecran2 .msg h2, #scene_ecran3 .msg h2, #scene_ecran4 .msg h2 {
    color: #11668b;
    font-size: 40px; }
  #scene_home .msg h3, #scene_ecran1 .msg h3, #scene_ecran2 .msg h3, #scene_ecran3 .msg h3, #scene_ecran4 .msg h3 {
    color: #575858; }
#scene_home .start_wrapper, #scene_ecran1 .start_wrapper, #scene_ecran2 .start_wrapper, #scene_ecran3 .start_wrapper, #scene_ecran4 .start_wrapper {
  z-index: 100; }
#scene_home .start, #scene_ecran1 .start, #scene_ecran2 .start, #scene_ecran3 .start, #scene_ecran4 .start {
  position: absolute;
  left: 40%;
  top: 50%;
  animation: PlaneFly linear 6s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: PlaneFly linear 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: PlaneFly linear 6s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: PlaneFly linear 6s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: PlaneFly linear 6s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%; }
#scene_home #helice, #scene_ecran1 #helice, #scene_ecran2 #helice, #scene_ecran3 #helice, #scene_ecran4 #helice {
  -webkit-animation: helice infinite 0.15s;
  -moz-animation: helice infinite 0.15s;
  -ms-animation: helice infinite 0.15s;
  -o-animation: helice infinite 0.15s;
  animation: helice infinite 0.15s;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-origin: 67px 67px; }
#scene_home .btn_vert, #scene_ecran1 .btn_vert, #scene_ecran2 .btn_vert, #scene_ecran3 .btn_vert, #scene_ecran4 .btn_vert {
  height: 40px;
  line-height: 40px;
  width: 220px;
  background-color: #aad037;
  display: block;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 4px 5px #71c0cd;
  text-align: center;
  text-transform: uppercase;
  float: left;
  top: 20px;
  margin-right: -50px; }

#scene_ecran1 .fond {
  background: transparent url("../img/ecran1/fond.png") no-repeat scroll 50% 50%/cover;
  height: 100%;
  width: 110%;
  position: absolute;
  left: -5%;
  top: -5%; }
#scene_ecran1 .soleil {
  position: absolute;
  top: -2% !important;
  right: 0; }
  #scene_ecran1 .soleil img {
    width: 120px; }
#scene_ecran1 .msg {
  width: 50%;
  top: 0;
  height: 50%;
  cursor: pointer; }
  #scene_ecran1 .msg img {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10; }
  #scene_ecran1 .msg .btn_suite {
    width: 240px;
    left: 60%;
    position: absolute;
    z-index: 9; }
  #scene_ecran1 .msg h4 {
    font-size: 1.4rem;
    color: #545454;
    height: 100%;
    margin: 0;
    padding: 7% 40px 0 40px; }
#scene_ecran1 .nuages_float {
  position: absolute;
  top: 35% !important;
  width: 100%; }
  #scene_ecran1 .nuages_float div {
    float: left; }
  #scene_ecran1 .nuages_float .nuage1 {
    margin-top: 30px; }
  #scene_ecran1 .nuages_float .nuages2 {
    margin-left: 20%; }
  #scene_ecran1 .nuages_float .nuage3 {
    margin-left: 20%; }
#scene_ecran1 .cars {
  position: absolute;
  bottom: 19%;
  width: 140%; }
  #scene_ecran1 .cars img {
    width: 120px; }
  #scene_ecran1 .cars .green_car, #scene_ecran1 .cars .yellow_car {
    margin-bottom: 25px;
    z-index: -1; }
#scene_ecran1 .people {
  position: absolute;
  bottom: 18%; }
  #scene_ecran1 .people img {
    width: 50%; }
  #scene_ecran1 .people .people1 {
    float: left; }
#scene_ecran1 .bateau {
  bottom: -3% !important; }
  @media only screen and (min-height: 860px) {
    #scene_ecran1 .bateau {
      bottom: 3% !important; } }
#scene_ecran1 .vague1 {
  background-size: 80% 120px;
  bottom: 10px !important;
  height: 100px; }
#scene_ecran1 .vague2 {
  background-size: 80% 120px;
  bottom: -10px !important;
  height: 100px; }
#scene_ecran1 .vague3 {
  background-size: 80% 130px;
  bottom: -70px !important;
  height: 100px !important; }
#scene_ecran1 .vague4 {
  background-size: 80% 130px;
  bottom: 40px !important;
  height: 100px !important; }

#scene_ecran2 .fond {
  background: transparent url("../img/ecran2/fond.png") no-repeat scroll 50% 62%/cover;
  height: 110%;
  width: 110%;
  position: absolute;
  left: -5%;
  top: -5%; }
#scene_ecran2 .soleil {
  position: absolute;
  top: -2% !important;
  right: 0; }
  #scene_ecran2 .soleil img {
    width: 120px; }
#scene_ecran2 .msg_wrapper {
  position: relative; }
#scene_ecran2 .msg {
  width: 50%;
  top: 0;
  height: 50%;
  cursor: pointer; }
  #scene_ecran2 .msg img {
    width: 100%;
    top: 5%;
    left: -20%;
    bottom: 0;
    right: 0; }
#scene_ecran2 .nuages_float {
  position: absolute;
  top: 42% !important;
  width: 100%; }
  #scene_ecran2 .nuages_float div {
    float: left; }
  #scene_ecran2 .nuages_float .nuage1 {
    margin-top: 30px; }
  #scene_ecran2 .nuages_float .nuages2 {
    margin-left: 20%; }
  #scene_ecran2 .nuages_float .nuage3 {
    margin-left: 20%; }
#scene_ecran2 .bateau_etape2 {
  position: absolute;
  bottom: 5% !important;
  width: 90%; }
  #scene_ecran2 .bateau_etape2 img {
    width: 100%; }
#scene_ecran2 .grue {
  position: absolute;
  right: 5%;
  bottom: 15%;
  width: 40%; }
  #scene_ecran2 .grue #caisse {
    position: absolute;
    width: 70% !important; }
  #scene_ecran2 .grue #fil_droit {
    position: absolute; }
#scene_ecran2 .vague1 {
  background-size: 80% 120px;
  bottom: 20px !important;
  height: 100px; }
#scene_ecran2 .vague2 {
  background-size: 80% 120px;
  bottom: 0px !important;
  height: 100px; }
#scene_ecran2 .vague3 {
  background-size: 80% 130px;
  bottom: -60px !important;
  height: 100px !important; }
#scene_ecran2 .vague4 {
  background-size: 80% 130px;
  bottom: 50px !important;
  height: 100px !important; }

#scene_ecran3 .fond {
  background: transparent url("../img/ecran3/fond.png") no-repeat scroll 50% 40%/cover;
  height: 100%;
  width: 110%;
  position: absolute;
  left: -5%;
  top: -5%; }
#scene_ecran3 .lune {
  position: absolute;
  top: 0 !important;
  right: 20%; }
  #scene_ecran3 .lune img {
    width: 80px; }
#scene_ecran3 .msg {
  width: 50%;
  top: -90%;
  left: -20%;
  height: 50%;
  cursor: pointer; }
  #scene_ecran3 .msg img {
    position: absolute;
    width: 90%;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10; }
#scene_ecran3 .bateau_etape3 {
  position: absolute;
  bottom: 8% !important;
  width: 50%; }
  #scene_ecran3 .bateau_etape3 img {
    width: 100%; }
#scene_ecran3 .phare {
  position: absolute;
  bottom: 10% !important;
  left: 74% !important;
  width: 35%; }
  #scene_ecran3 .phare img {
    width: 100%; }
#scene_ecran3 .rayon {
  top: 35%;
  right: 5%;
  position: absolute;
  transform-origin: 110% top; }
  @media only screen and (min-height: 880px) {
    #scene_ecran3 .rayon {
      top: 41% !important;
      right: 7%; } }
  @media only screen and (min-height: 860px) {
    #scene_ecran3 .rayon {
      top: 41% !important;
      right: 7%; } }
  @media only screen and (min-height: 820px) {
    #scene_ecran3 .rayon {
      top: 33%; } }
#scene_ecran3 .vague1 {
  background-size: 80% 120px;
  bottom: -20px !important;
  height: 100px; }
#scene_ecran3 .vague2 {
  background-size: 80% 120px;
  bottom: -30px !important;
  height: 100px; }
#scene_ecran3 .vague3 {
  background-size: 80% 130px;
  bottom: -70px !important;
  height: 100px !important; }
#scene_ecran3 .vague4 {
  background-size: 80% 130px;
  bottom: 20px !important;
  height: 100px !important; }

#scene_ecran4 .fond {
  background: transparent url("../img/ecran4/fond.png") no-repeat scroll 50% 62%/cover;
  height: 100%;
  width: 110%;
  position: absolute;
  left: -5%;
  top: -5%; }
#scene_ecran4 .mongolfiere {
  position: absolute;
  top: 0 !important;
  right: 5%; }
  #scene_ecran4 .mongolfiere img {
    width: 80px; }
#scene_ecran4 .msg_wrapper {
  heigh: 90%; }
#scene_ecran4 .msg {
  width: 50%;
  top: -90%;
  left: -20%;
  height: 50%;
  cursor: pointer; }
  #scene_ecran4 .msg img {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 5%;
    bottom: 0;
    right: 0;
    z-index: 10; }
#scene_ecran4 .replay_wrapper {
  z-index: 110;
  position: absolute;
  top: 90% !important;
  cursor: pointer;
  width: 280px;
  height: 60px; }
#scene_ecran4 .replay img {
  z-index: 10;
  width: 200px; }
#scene_ecran4 .bateau_etape4 {
  position: absolute;
  bottom: 7% !important;
  width: 50%; }
  #scene_ecran4 .bateau_etape4 img {
    width: 100%; }
#scene_ecran4 .vague1 {
  background-size: 80% 120px;
  bottom: -20px !important;
  height: 100px; }
#scene_ecran4 .vague2 {
  background-size: 80% 120px;
  bottom: -30px !important;
  height: 100px; }
#scene_ecran4 .vague3 {
  background-size: 80% 130px;
  bottom: -70px !important;
  height: 100px !important; }
#scene_ecran4 .vague4 {
  background-size: 80% 130px;
  bottom: 20px !important;
  height: 100px !important; }
#scene_ecran4 .nuages_float {
  position: absolute;
  top: 35% !important;
  width: 100%; }
  #scene_ecran4 .nuages_float div {
    float: left; }
  #scene_ecran4 .nuages_float .nuage1 {
    margin-top: 30px; }
  #scene_ecran4 .nuages_float .nuages2 {
    margin-left: 20%; }
  #scene_ecran4 .nuages_float .nuage3 {
    margin-left: 20%; }

@media only screen and (min-height: 599px) and (max-height: 699px) {
  #scene_home .layer .msg, #scene_ecran1 .layer .msg, #scene_ecran2 .layer .msg, #scene_ecran3 .layer .msg, #scene_ecran4 .layer .msg {
    top: -15%; }
    #scene_home .layer .msg h2, #scene_ecran1 .layer .msg h2, #scene_ecran2 .layer .msg h2, #scene_ecran3 .layer .msg h2, #scene_ecran4 .layer .msg h2 {
      font-size: 28px; }
    #scene_home .layer .msg h3, #scene_ecran1 .layer .msg h3, #scene_ecran2 .layer .msg h3, #scene_ecran3 .layer .msg h3, #scene_ecran4 .layer .msg h3 {
      font-size: 16px; }
  #scene_home .layer .start, #scene_ecran1 .layer .start, #scene_ecran2 .layer .start, #scene_ecran3 .layer .start, #scene_ecran4 .layer .start {
    top: 37%; }
  #scene_home .layer .nuages, #scene_ecran1 .layer .nuages, #scene_ecran2 .layer .nuages, #scene_ecran3 .layer .nuages, #scene_ecran4 .layer .nuages {
    width: 40%;
    top: -30px !important;
    left: 35% !important; }
    #scene_home .layer .nuages .nuage2, #scene_ecran1 .layer .nuages .nuage2, #scene_ecran2 .layer .nuages .nuage2, #scene_ecran3 .layer .nuages .nuage2, #scene_ecran4 .layer .nuages .nuage2 {
      width: 20%;
      top: 10px !important; }
    #scene_home .layer .nuages .small_cloud1, #scene_ecran1 .layer .nuages .small_cloud1, #scene_ecran2 .layer .nuages .small_cloud1, #scene_ecran3 .layer .nuages .small_cloud1, #scene_ecran4 .layer .nuages .small_cloud1 {
      top: 95px !important;
      left: 17%; }
    #scene_home .layer .nuages .small_cloud2, #scene_ecran1 .layer .nuages .small_cloud2, #scene_ecran2 .layer .nuages .small_cloud2, #scene_ecran3 .layer .nuages .small_cloud2, #scene_ecran4 .layer .nuages .small_cloud2 {
      left: 38%;
      top: 76px !important;
      z-index: -10; }
    #scene_home .layer .nuages .nuage0, #scene_ecran1 .layer .nuages .nuage0, #scene_ecran2 .layer .nuages .nuage0, #scene_ecran3 .layer .nuages .nuage0, #scene_ecran4 .layer .nuages .nuage0 {
      width: 20%; }
    #scene_home .layer .nuages .nuage1, #scene_ecran1 .layer .nuages .nuage1, #scene_ecran2 .layer .nuages .nuage1, #scene_ecran3 .layer .nuages .nuage1, #scene_ecran4 .layer .nuages .nuage1 {
      width: 20%; }
    #scene_home .layer .nuages .nuage6, #scene_ecran1 .layer .nuages .nuage6, #scene_ecran2 .layer .nuages .nuage6, #scene_ecran3 .layer .nuages .nuage6, #scene_ecran4 .layer .nuages .nuage6 {
      width: 20%; }
  #scene_home .layer .vague1, #scene_ecran1 .layer .vague1, #scene_ecran2 .layer .vague1, #scene_ecran3 .layer .vague1, #scene_ecran4 .layer .vague1 {
    background-image: url(../img/home/vague_ronde1.png);
    background-size: 80% 120px;
    bottom: 60px !important;
    height: 100px; }
  #scene_home .layer .vague2, #scene_ecran1 .layer .vague2, #scene_ecran2 .layer .vague2, #scene_ecran3 .layer .vague2, #scene_ecran4 .layer .vague2 {
    background-size: 80% 120px;
    bottom: 20px !important;
    height: 100px;
    left: -80%; }
  #scene_home .layer .vague3, #scene_ecran1 .layer .vague3, #scene_ecran2 .layer .vague3, #scene_ecran3 .layer .vague3, #scene_ecran4 .layer .vague3 {
    background-size: 80% 130px;
    bottom: -10px !important;
    height: 100px !important; }
  #scene_home .layer .vague4, #scene_ecran1 .layer .vague4, #scene_ecran2 .layer .vague4, #scene_ecran3 .layer .vague4, #scene_ecran4 .layer .vague4 {
    background-size: 80% 130px;
    bottom: 80px !important;
    height: 100px !important; }
  #scene_home .layer .batiments, #scene_ecran1 .layer .batiments, #scene_ecran2 .layer .batiments, #scene_ecran3 .layer .batiments, #scene_ecran4 .layer .batiments {
    top: 35% !important; }
  #scene_home .layer .bateau, #scene_ecran1 .layer .bateau, #scene_ecran2 .layer .bateau, #scene_ecran3 .layer .bateau, #scene_ecran4 .layer .bateau {
    bottom: 5% !important; }

  #scene_ecran1 .layer .fond {
    background: transparent url("../img/ecran1/fond.png") no-repeat scroll 100% 100%/cover;
    height: 105%;
    width: 110%;
    left: -5%;
    top: -5%; }
  #scene_ecran1 .layer .nuages_float {
    position: absolute;
    top: 25% !important; }
  #scene_ecran1 .layer .msg {
    height: 65%;
    max-width: 40%; }
    #scene_ecran1 .layer .msg img {
      top: 5%; }
  #scene_ecran1 .layer .vague1 {
    background-size: 80% 120px;
    bottom: 20px !important;
    height: 100px; }
  #scene_ecran1 .layer .vague2 {
    background-size: 80% 120px;
    bottom: 0px !important;
    height: 100px; }
  #scene_ecran1 .layer .vague3 {
    background-size: 80% 130px;
    bottom: -60px !important;
    height: 100px !important; }
  #scene_ecran1 .layer .vague4 {
    background-size: 80% 130px;
    bottom: 30px !important;
    height: 100px !important; }
  #scene_ecran1 .layer .bateau {
    bottom: -4% !important; }
    #scene_ecran1 .layer .bateau img {
      width: 80%; }
  #scene_ecran1 .layer .batiments {
    top: 50% !important; }
  #scene_ecran1 .layer .people {
    bottom: 20%; }
  #scene_ecran1 .layer .msg h4 {
    font-size: 1.4rem; }
  #scene_ecran1 .layer .cars {
    position: absolute;
    bottom: 18.5%;
    width: 140%; }
    #scene_ecran1 .layer .cars img {
      width: 120px; }
    #scene_ecran1 .layer .cars .green_car, #scene_ecran1 .layer .cars .yellow_car {
      margin-bottom: 18px; }

  #scene_ecran2 .layer .fond {
    background: transparent url("../img/ecran2/fond.png") no-repeat scroll 100% 100%/cover;
    height: 105%;
    width: 110%;
    left: -5%;
    top: -5%; }
  #scene_ecran2 .layer .msg {
    height: 65%;
    left: -30%;
    max-width: 40%; }
    #scene_ecran2 .layer .msg img {
      margin-top: 7%; }
  #scene_ecran2 .layer .bateau_etape2 {
    position: absolute;
    bottom: 10% !important; }
    #scene_ecran2 .layer .bateau_etape2 img {
      width: 88%; }
  #scene_ecran2 .layer .grue {
    right: 5%;
    bottom: 17%;
    width: 40%; }

  #scene_ecran3 .fond {
    background: transparent url("../img/ecran3/fond.svg") no-repeat scroll 50% 40%/cover;
    height: 90%;
    width: 110%;
    position: absolute;
    left: -5%;
    top: -5%; }
  #scene_ecran3 .msg {
    height: 65%;
    max-width: 40%; }
    #scene_ecran3 .msg img {
      margin-top: 8%; }
  #scene_ecran3 .lune {
    right: 15%; }
    #scene_ecran3 .lune img {
      width: 70px; }
  #scene_ecran3 .phare {
    position: absolute;
    bottom: 8% !important;
    left: 75% !important;
    width: 32%; }
    #scene_ecran3 .phare img {
      width: 90%; }
  #scene_ecran3 .rayon {
    top: 27%;
    right: 8%;
    position: absolute;
    transform-origin: 110% top; }
  #scene_ecran3 .bateau_etape3 {
    position: absolute;
    bottom: 12% !important;
    width: 50%; }
    #scene_ecran3 .bateau_etape3 img {
      width: 100%; }

  #scene_ecran4 .fond {
    background: transparent url("../img/ecran4/fond.png") no-repeat scroll 100% 100%/cover;
    height: 100%;
    width: 110%;
    position: absolute;
    left: -5%;
    top: -5%; }
  #scene_ecran4 .bateau_etape4 {
    position: absolute;
    bottom: 12% !important;
    width: 50%; }
    #scene_ecran4 .bateau_etape4 img {
      width: 100%; }
  #scene_ecran4 .msg {
    max-width: 42%;
    top: -90%;
    left: -20%;
    height: 50%;
    cursor: pointer; }
    #scene_ecran4 .msg img {
      position: absolute;
      width: 100%;
      top: 20%;
      left: 5%;
      bottom: 0;
      right: 0;
      z-index: 10; }
  #scene_ecran4 .nuages_float {
    position: absolute;
    top: 30% !important;
    width: 100%; } }
@media only screen and (min-height: 799px) {
  #scene_home .layer .msg h2, #scene_ecran1 .layer .msg h2, #scene_ecran2 .layer .msg h2, #scene_ecran3 .layer .msg h2, #scene_ecran4 .layer .msg h2 {
    font-size: 40px;
    font-weight: 700; }
  #scene_home .layer .msg h3, #scene_ecran1 .layer .msg h3, #scene_ecran2 .layer .msg h3, #scene_ecran3 .layer .msg h3, #scene_ecran4 .layer .msg h3 {
    font-size: 16px; }
  #scene_home .layer .nuages, #scene_ecran1 .layer .nuages, #scene_ecran2 .layer .nuages, #scene_ecran3 .layer .nuages, #scene_ecran4 .layer .nuages {
    width: 50%;
    top: -20px !important;
    left: 40%;
    position: absolute;
    margin: 0 auto;
    margin-left: 5%;
    text-align: center; }
    #scene_home .layer .nuages img, #scene_ecran1 .layer .nuages img, #scene_ecran2 .layer .nuages img, #scene_ecran3 .layer .nuages img, #scene_ecran4 .layer .nuages img {
      position: absolute; }
    #scene_home .layer .nuages .nuage2, #scene_ecran1 .layer .nuages .nuage2, #scene_ecran2 .layer .nuages .nuage2, #scene_ecran3 .layer .nuages .nuage2, #scene_ecran4 .layer .nuages .nuage2 {
      width: 25%;
      top: -30px !important;
      left: 5%; }
    #scene_home .layer .nuages .nuage0, #scene_ecran1 .layer .nuages .nuage0, #scene_ecran2 .layer .nuages .nuage0, #scene_ecran3 .layer .nuages .nuage0, #scene_ecran4 .layer .nuages .nuage0 {
      width: 25%;
      top: -15px !important;
      left: 22%; }
    #scene_home .layer .nuages .small_cloud1, #scene_ecran1 .layer .nuages .small_cloud1, #scene_ecran2 .layer .nuages .small_cloud1, #scene_ecran3 .layer .nuages .small_cloud1, #scene_ecran4 .layer .nuages .small_cloud1 {
      top: 110px !important;
      left: 14%;
      width: 15%; }
    #scene_home .layer .nuages .small_cloud2, #scene_ecran1 .layer .nuages .small_cloud2, #scene_ecran2 .layer .nuages .small_cloud2, #scene_ecran3 .layer .nuages .small_cloud2, #scene_ecran4 .layer .nuages .small_cloud2 {
      left: 45%;
      top: 140px !important;
      z-index: -10; }
    #scene_home .layer .nuages .nuage1, #scene_ecran1 .layer .nuages .nuage1, #scene_ecran2 .layer .nuages .nuage1, #scene_ecran3 .layer .nuages .nuage1, #scene_ecran4 .layer .nuages .nuage1 {
      width: 25%;
      top: 10px !important;
      left: 35%; }
    #scene_home .layer .nuages .nuage6, #scene_ecran1 .layer .nuages .nuage6, #scene_ecran2 .layer .nuages .nuage6, #scene_ecran3 .layer .nuages .nuage6, #scene_ecran4 .layer .nuages .nuage6 {
      width: 25%;
      top: 10px;
      left: 50%;
      z-index: -8; }
  #scene_home .layer .vague1, #scene_ecran1 .layer .vague1, #scene_ecran2 .layer .vague1, #scene_ecran3 .layer .vague1, #scene_ecran4 .layer .vague1 {
    background-image: url(../img/home/vague_ronde1.png);
    background-size: 80% 120px;
    bottom: 80px !important;
    height: 80px; }
  #scene_home .layer .vague2, #scene_ecran1 .layer .vague2, #scene_ecran2 .layer .vague2, #scene_ecran3 .layer .vague2, #scene_ecran4 .layer .vague2 {
    background-size: 80% 120px;
    bottom: 40px !important;
    height: 80px;
    left: -80%; }
  #scene_home .layer .vague3, #scene_ecran1 .layer .vague3, #scene_ecran2 .layer .vague3, #scene_ecran3 .layer .vague3, #scene_ecran4 .layer .vague3 {
    background-size: 80% 130px;
    bottom: 0px !important;
    height: 80px !important; }
  #scene_home .layer .vague4, #scene_ecran1 .layer .vague4, #scene_ecran2 .layer .vague4, #scene_ecran3 .layer .vague4, #scene_ecran4 .layer .vague4 {
    background-size: 80% 130px;
    bottom: 100px !important;
    height: 80px !important; }
  #scene_home .layer .batiments, #scene_ecran1 .layer .batiments, #scene_ecran2 .layer .batiments, #scene_ecran3 .layer .batiments, #scene_ecran4 .layer .batiments {
    top: 35% !important; }
  #scene_home .layer .bateau, #scene_ecran1 .layer .bateau, #scene_ecran2 .layer .bateau, #scene_ecran3 .layer .bateau, #scene_ecran4 .layer .bateau {
    bottom: 4% !important; }

  #scene_ecran1 .layer .fond {
    background: transparent url("../img/ecran1/fond.png") no-repeat scroll 75% 90%/cover;
    height: 100%;
    width: 110%;
    left: -5%;
    top: -5%; }
  #scene_ecran1 .layer .vague1 {
    background-size: 80% 120px;
    bottom: 60px !important;
    height: 100px; }
  #scene_ecran1 .layer .vague2 {
    background-size: 80% 120px;
    bottom: 40px !important;
    height: 100px; }
  #scene_ecran1 .layer .vague3 {
    background-size: 80% 130px;
    bottom: -20px !important;
    height: 100px !important; }
  #scene_ecran1 .layer .vague4 {
    background-size: 80% 130px;
    bottom: 70px !important;
    height: 100px !important; }
  #scene_ecran1 .layer .bateau {
    bottom: -4% !important; }
  #scene_ecran1 .layer .batiments {
    top: 42% !important; }
  #scene_ecran1 .layer .people {
    bottom: 20%; }
  #scene_ecran1 .layer .msg {
    max-width: 50%;
    top: 0;
    height: 50%;
    cursor: pointer; }
    #scene_ecran1 .layer .msg img {
      position: absolute;
      width: 100%;
      top: 5%;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10; }

  #scene_ecran2 .msg {
    left: -25%; }
    #scene_ecran2 .msg img {
      margin-top: 12%; }

  #scene_ecran3 .phare {
    position: absolute;
    bottom: 10% !important;
    left: 74% !important;
    width: 35%; }
    #scene_ecran3 .phare img {
      width: 100%; }
  #scene_ecran3 .rayon {
    top: 31.5%;
    right: 5%;
    position: absolute;
    transform-origin: 110% top; } }
@media only screen and (min-height: 900px) {
  #scene_home .layer .msg h2, #scene_ecran1 .layer .msg h2, #scene_ecran2 .layer .msg h2, #scene_ecran3 .layer .msg h2, #scene_ecran4 .layer .msg h2 {
    font-size: 40px;
    font-weight: 700; }
  #scene_home .layer .msg h3, #scene_ecran1 .layer .msg h3, #scene_ecran2 .layer .msg h3, #scene_ecran3 .layer .msg h3, #scene_ecran4 .layer .msg h3 {
    font-size: 20px; }
  #scene_home .layer .nuages, #scene_ecran1 .layer .nuages, #scene_ecran2 .layer .nuages, #scene_ecran3 .layer .nuages, #scene_ecran4 .layer .nuages {
    width: 50%;
    top: -20px !important;
    left: 40%;
    position: absolute;
    margin: 0 auto;
    margin-left: 5%;
    text-align: center; }
    #scene_home .layer .nuages img, #scene_ecran1 .layer .nuages img, #scene_ecran2 .layer .nuages img, #scene_ecran3 .layer .nuages img, #scene_ecran4 .layer .nuages img {
      position: absolute; }
    #scene_home .layer .nuages .nuage2, #scene_ecran1 .layer .nuages .nuage2, #scene_ecran2 .layer .nuages .nuage2, #scene_ecran3 .layer .nuages .nuage2, #scene_ecran4 .layer .nuages .nuage2 {
      width: 25%;
      top: -30px !important;
      left: 5%; }
    #scene_home .layer .nuages .nuage0, #scene_ecran1 .layer .nuages .nuage0, #scene_ecran2 .layer .nuages .nuage0, #scene_ecran3 .layer .nuages .nuage0, #scene_ecran4 .layer .nuages .nuage0 {
      width: 25%;
      top: -15px !important;
      left: 22%; }
    #scene_home .layer .nuages .small_cloud1, #scene_ecran1 .layer .nuages .small_cloud1, #scene_ecran2 .layer .nuages .small_cloud1, #scene_ecran3 .layer .nuages .small_cloud1, #scene_ecran4 .layer .nuages .small_cloud1 {
      top: 110px !important;
      left: 14%;
      width: 15%; }
    #scene_home .layer .nuages .small_cloud2, #scene_ecran1 .layer .nuages .small_cloud2, #scene_ecran2 .layer .nuages .small_cloud2, #scene_ecran3 .layer .nuages .small_cloud2, #scene_ecran4 .layer .nuages .small_cloud2 {
      left: 45%;
      top: 140px !important;
      z-index: -10; }
    #scene_home .layer .nuages .nuage1, #scene_ecran1 .layer .nuages .nuage1, #scene_ecran2 .layer .nuages .nuage1, #scene_ecran3 .layer .nuages .nuage1, #scene_ecran4 .layer .nuages .nuage1 {
      width: 25%;
      top: 10px !important;
      left: 35%; }
    #scene_home .layer .nuages .nuage6, #scene_ecran1 .layer .nuages .nuage6, #scene_ecran2 .layer .nuages .nuage6, #scene_ecran3 .layer .nuages .nuage6, #scene_ecran4 .layer .nuages .nuage6 {
      width: 25%;
      top: 10px;
      left: 50%;
      z-index: -8; }
  #scene_home .layer .vague1, #scene_ecran1 .layer .vague1, #scene_ecran2 .layer .vague1, #scene_ecran3 .layer .vague1, #scene_ecran4 .layer .vague1 {
    background-image: url(../img/home/vague_ronde1.png);
    background-size: 80% 120px;
    bottom: 80px !important;
    height: 80px; }
  #scene_home .layer .vague2, #scene_ecran1 .layer .vague2, #scene_ecran2 .layer .vague2, #scene_ecran3 .layer .vague2, #scene_ecran4 .layer .vague2 {
    background-size: 80% 120px;
    bottom: 40px !important;
    height: 80px;
    left: -80%; }
  #scene_home .layer .vague3, #scene_ecran1 .layer .vague3, #scene_ecran2 .layer .vague3, #scene_ecran3 .layer .vague3, #scene_ecran4 .layer .vague3 {
    background-size: 80% 130px;
    bottom: 0px !important;
    height: 80px !important; }
  #scene_home .layer .vague4, #scene_ecran1 .layer .vague4, #scene_ecran2 .layer .vague4, #scene_ecran3 .layer .vague4, #scene_ecran4 .layer .vague4 {
    background-size: 80% 130px;
    bottom: 100px !important;
    height: 80px !important; }
  #scene_home .layer .batiments, #scene_ecran1 .layer .batiments, #scene_ecran2 .layer .batiments, #scene_ecran3 .layer .batiments, #scene_ecran4 .layer .batiments {
    top: 35% !important; }
  #scene_home .layer .bateau, #scene_ecran1 .layer .bateau, #scene_ecran2 .layer .bateau, #scene_ecran3 .layer .bateau, #scene_ecran4 .layer .bateau {
    bottom: 4% !important; } }
  @media only screen and (min-height: 900px) and (min-height: 940px) {
    #scene_home .layer .bateau, #scene_ecran1 .layer .bateau, #scene_ecran2 .layer .bateau, #scene_ecran3 .layer .bateau, #scene_ecran4 .layer .bateau {
      bottom: -1% !important; } }
@media only screen and (min-height: 900px) {
  #scene_home .layer .btn_vert, #scene_ecran1 .layer .btn_vert, #scene_ecran2 .layer .btn_vert, #scene_ecran3 .layer .btn_vert, #scene_ecran4 .layer .btn_vert {
    width: 300px;
    height: 50px;
    line-height: 50px;
    top: -20px;
    margin-left: -60px; }

  #scene_ecran1 .layer .fond {
    background: transparent url("../img/ecran1/fond.png") no-repeat scroll 50% 50%/cover;
    height: 100%;
    width: 110%;
    left: -5%;
    top: -5%; }
  #scene_ecran1 .layer .vague1 {
    background-size: 80% 120px;
    bottom: 50px !important;
    height: 100px; }
  #scene_ecran1 .layer .vague2 {
    background-size: 80% 120px;
    bottom: 30px !important;
    height: 100px; }
  #scene_ecran1 .layer .vague3 {
    background-size: 80% 130px;
    bottom: -20px !important;
    height: 100px !important; }
  #scene_ecran1 .layer .vague4 {
    background-size: 80% 130px;
    bottom: 60px !important;
    height: 100px !important; }
  #scene_ecran1 .layer .bateau {
    bottom: -3% !important; }
    #scene_ecran1 .layer .bateau img {
      width: 80%; }
  #scene_ecran1 .layer .batiments {
    top: 42% !important; }
  #scene_ecran1 .layer .people {
    bottom: 20%; }
  #scene_ecran1 .layer .msg {
    width: 50%;
    top: 0;
    height: 50%;
    cursor: pointer; }
    #scene_ecran1 .layer .msg img {
      position: absolute;
      width: 100%;
      top: 5%;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10; }
  #scene_ecran1 .layer .cars {
    position: absolute;
    bottom: 18.5%;
    width: 160%; } }
  @media only screen and (min-height: 900px) and (min-height: 940px) {
    #scene_ecran1 .layer .cars {
      bottom: 18% !important; } }
@media only screen and (min-height: 900px) {
    #scene_ecran1 .layer .cars img {
      width: 180px !important; }
    #scene_ecran1 .layer .cars .green_car, #scene_ecran1 .layer .cars .yellow_car {
      margin-bottom: 28px; }

  #scene_ecran3 .phare {
    position: absolute;
    bottom: 10% !important;
    left: 74% !important;
    width: 35%; }
    #scene_ecran3 .phare img {
      width: 100%; }
  #scene_ecran3 .rayon {
    top: 39%;
    right: 8%;
    position: absolute;
    transform-origin: 110% top; } }
  @media only screen and (min-height: 900px) and (min-height: 940px) {
    #scene_ecran3 .rayon {
      top: 38% !important; } }
@media only screen and (min-height: 900px) {
  #scene_ecran3 .msg {
    width: 55%;
    left: -7%; }
    #scene_ecran3 .msg img {
      margin-top: 5%; } }
@media only screen and (min-height: 767px) and (max-height: 770px) {
  #scene_home .layer .msg h2, #scene_ecran1 .layer .msg h2, #scene_ecran2 .layer .msg h2, #scene_ecran3 .layer .msg h2, #scene_ecran4 .layer .msg h2 {
    font-size: 40px;
    font-weight: 700; }
  #scene_home .layer .msg h3, #scene_ecran1 .layer .msg h3, #scene_ecran2 .layer .msg h3, #scene_ecran3 .layer .msg h3, #scene_ecran4 .layer .msg h3 {
    font-size: 16px; }
  #scene_home .layer .nuages, #scene_ecran1 .layer .nuages, #scene_ecran2 .layer .nuages, #scene_ecran3 .layer .nuages, #scene_ecran4 .layer .nuages {
    width: 50%;
    top: -20px !important;
    left: 40%;
    position: absolute;
    margin: 0 auto;
    margin-left: 5%;
    text-align: center; }
    #scene_home .layer .nuages img, #scene_ecran1 .layer .nuages img, #scene_ecran2 .layer .nuages img, #scene_ecran3 .layer .nuages img, #scene_ecran4 .layer .nuages img {
      position: absolute; }
    #scene_home .layer .nuages .nuage2, #scene_ecran1 .layer .nuages .nuage2, #scene_ecran2 .layer .nuages .nuage2, #scene_ecran3 .layer .nuages .nuage2, #scene_ecran4 .layer .nuages .nuage2 {
      width: 25%;
      top: -30px !important;
      left: 5%; }
    #scene_home .layer .nuages .nuage0, #scene_ecran1 .layer .nuages .nuage0, #scene_ecran2 .layer .nuages .nuage0, #scene_ecran3 .layer .nuages .nuage0, #scene_ecran4 .layer .nuages .nuage0 {
      width: 25%;
      top: -15px !important;
      left: 22%; }
    #scene_home .layer .nuages .small_cloud1, #scene_ecran1 .layer .nuages .small_cloud1, #scene_ecran2 .layer .nuages .small_cloud1, #scene_ecran3 .layer .nuages .small_cloud1, #scene_ecran4 .layer .nuages .small_cloud1 {
      top: 110px !important;
      left: 14%;
      width: 15%; }
    #scene_home .layer .nuages .small_cloud2, #scene_ecran1 .layer .nuages .small_cloud2, #scene_ecran2 .layer .nuages .small_cloud2, #scene_ecran3 .layer .nuages .small_cloud2, #scene_ecran4 .layer .nuages .small_cloud2 {
      left: 45%;
      top: 140px !important;
      z-index: -10; }
    #scene_home .layer .nuages .nuage1, #scene_ecran1 .layer .nuages .nuage1, #scene_ecran2 .layer .nuages .nuage1, #scene_ecran3 .layer .nuages .nuage1, #scene_ecran4 .layer .nuages .nuage1 {
      width: 25%;
      top: 10px !important;
      left: 35%; }
    #scene_home .layer .nuages .nuage6, #scene_ecran1 .layer .nuages .nuage6, #scene_ecran2 .layer .nuages .nuage6, #scene_ecran3 .layer .nuages .nuage6, #scene_ecran4 .layer .nuages .nuage6 {
      width: 25%;
      top: 10px;
      left: 50%;
      z-index: -8; }
  #scene_home .layer .vague1, #scene_ecran1 .layer .vague1, #scene_ecran2 .layer .vague1, #scene_ecran3 .layer .vague1, #scene_ecran4 .layer .vague1 {
    background-image: url(../img/home/vague_ronde1.png);
    background-size: 80% 120px;
    bottom: 80px !important;
    height: 80px; }
  #scene_home .layer .vague2, #scene_ecran1 .layer .vague2, #scene_ecran2 .layer .vague2, #scene_ecran3 .layer .vague2, #scene_ecran4 .layer .vague2 {
    background-size: 80% 120px;
    bottom: 40px !important;
    height: 80px;
    left: -80%; }
  #scene_home .layer .vague3, #scene_ecran1 .layer .vague3, #scene_ecran2 .layer .vague3, #scene_ecran3 .layer .vague3, #scene_ecran4 .layer .vague3 {
    background-size: 80% 130px;
    bottom: 0px !important;
    height: 80px !important; }
  #scene_home .layer .vague4, #scene_ecran1 .layer .vague4, #scene_ecran2 .layer .vague4, #scene_ecran3 .layer .vague4, #scene_ecran4 .layer .vague4 {
    background-size: 80% 130px;
    bottom: 100px !important;
    height: 80px !important; }
  #scene_home .layer .batiments, #scene_ecran1 .layer .batiments, #scene_ecran2 .layer .batiments, #scene_ecran3 .layer .batiments, #scene_ecran4 .layer .batiments {
    top: 35% !important; }
  #scene_home .layer .bateau, #scene_ecran1 .layer .bateau, #scene_ecran2 .layer .bateau, #scene_ecran3 .layer .bateau, #scene_ecran4 .layer .bateau {
    bottom: 4% !important; }

  #scene_ecran1 .layer .fond {
    background: transparent url("../img/ecran1/fond.png") no-repeat scroll 75% 90%/cover;
    height: 100%;
    width: 110%;
    left: -5%;
    top: -5%; }
  #scene_ecran1 .layer .vague1 {
    background-size: 80% 120px;
    bottom: 60px !important;
    height: 100px; }
  #scene_ecran1 .layer .vague2 {
    background-size: 80% 120px;
    bottom: 40px !important;
    height: 100px; }
  #scene_ecran1 .layer .vague3 {
    background-size: 80% 130px;
    bottom: -20px !important;
    height: 100px !important; }
  #scene_ecran1 .layer .vague4 {
    background-size: 80% 130px;
    bottom: 70px !important;
    height: 100px !important; }
  #scene_ecran1 .layer .bateau {
    bottom: 0 !important; }
  #scene_ecran1 .layer .batiments {
    top: 42% !important; }
  #scene_ecran1 .layer .people {
    bottom: 20%; }
  #scene_ecran1 .layer .msg {
    max-width: 50%;
    top: 0;
    height: 50%;
    cursor: pointer; }
    #scene_ecran1 .layer .msg img {
      position: absolute;
      width: 100%;
      top: 5%;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10; }

  #scene_ecran2 .bateau_etape2 {
    bottom: 10% !important; }
    #scene_ecran2 .bateau_etape2 img {
      width: 85%; }
  #scene_ecran2 .msg {
    width: 45%;
    left: -25%; }
    #scene_ecran2 .msg img {
      margin-top: 5%; }

  #scene_ecran3 .phare {
    position: absolute;
    bottom: 10% !important;
    left: 71% !important;
    width: 35%; }
    #scene_ecran3 .phare img {
      width: 100%; }
  #scene_ecran3 .rayon {
    top: 24%;
    right: 8%;
    position: absolute;
    transform-origin: 110% top; }

  #scene_ecran4 .msg {
    width: 45%; } }
@media only screen and (min-height: 767px) and (max-height: 770px) and (min-width: 1023px) and (max-width: 1025px) {
  #scene_home .layer .fond, #scene_ecran1 .layer .fond, #scene_ecran2 .layer .fond, #scene_ecran3 .layer .fond, #scene_ecran4 .layer .fond {
    background: transparent url("../img/home/fond.png") no-repeat scroll 100% 100%/cover;
    height: 94%; }
  #scene_home .layer .bateau, #scene_ecran1 .layer .bateau, #scene_ecran2 .layer .bateau, #scene_ecran3 .layer .bateau, #scene_ecran4 .layer .bateau {
    bottom: 8% !important;
    width: 50%; }
  #scene_home .layer .ile, #scene_ecran1 .layer .ile, #scene_ecran2 .layer .ile, #scene_ecran3 .layer .ile, #scene_ecran4 .layer .ile {
    position: absolute;
    bottom: 9%;
    left: -5%; }
    #scene_home .layer .ile img, #scene_ecran1 .layer .ile img, #scene_ecran2 .layer .ile img, #scene_ecran3 .layer .ile img, #scene_ecran4 .layer .ile img {
      width: 80%; }
  #scene_home .layer .btn_vert, #scene_ecran1 .layer .btn_vert, #scene_ecran2 .layer .btn_vert, #scene_ecran3 .layer .btn_vert, #scene_ecran4 .layer .btn_vert {
    top: 0; }
  #scene_home .layer .nuages, #scene_ecran1 .layer .nuages, #scene_ecran2 .layer .nuages, #scene_ecran3 .layer .nuages, #scene_ecran4 .layer .nuages {
    width: 60%;
    top: -30px !important;
    left: 35% !important; }
    #scene_home .layer .nuages .nuage2, #scene_ecran1 .layer .nuages .nuage2, #scene_ecran2 .layer .nuages .nuage2, #scene_ecran3 .layer .nuages .nuage2, #scene_ecran4 .layer .nuages .nuage2 {
      width: 20%;
      top: 10px !important; }
    #scene_home .layer .nuages .small_cloud1, #scene_ecran1 .layer .nuages .small_cloud1, #scene_ecran2 .layer .nuages .small_cloud1, #scene_ecran3 .layer .nuages .small_cloud1, #scene_ecran4 .layer .nuages .small_cloud1 {
      top: 125px !important;
      left: 17%; }
    #scene_home .layer .nuages .small_cloud2, #scene_ecran1 .layer .nuages .small_cloud2, #scene_ecran2 .layer .nuages .small_cloud2, #scene_ecran3 .layer .nuages .small_cloud2, #scene_ecran4 .layer .nuages .small_cloud2 {
      left: 38%;
      top: 100px !important;
      z-index: -10; }
    #scene_home .layer .nuages .nuage0, #scene_ecran1 .layer .nuages .nuage0, #scene_ecran2 .layer .nuages .nuage0, #scene_ecran3 .layer .nuages .nuage0, #scene_ecran4 .layer .nuages .nuage0 {
      width: 20%; }
    #scene_home .layer .nuages .nuage1, #scene_ecran1 .layer .nuages .nuage1, #scene_ecran2 .layer .nuages .nuage1, #scene_ecran3 .layer .nuages .nuage1, #scene_ecran4 .layer .nuages .nuage1 {
      width: 20%; }
    #scene_home .layer .nuages .nuage6, #scene_ecran1 .layer .nuages .nuage6, #scene_ecran2 .layer .nuages .nuage6, #scene_ecran3 .layer .nuages .nuage6, #scene_ecran4 .layer .nuages .nuage6 {
      width: 20%; }

  #scene_ecran1 .layer .fond {
    height: 70%;
    width: 110%;
    position: absolute;
    left: -5%;
    top: -5%; }

  #scene_ecran3 .layer .rayon {
    top: 26%;
    right: 7%;
    transform-origin: 110% top; } }
@media only screen and (min-width: 1600px) {
  #scene_home .layer .nuages, #scene_ecran1 .layer .nuages, #scene_ecran2 .layer .nuages, #scene_ecran3 .layer .nuages, #scene_ecran4 .layer .nuages {
    width: 40%;
    margin-left: 7%; }
  #scene_home .start, #scene_ecran1 .start, #scene_ecran2 .start, #scene_ecran3 .start, #scene_ecran4 .start {
    left: 45%; }

  #scene_ecran1 .layer .fond {
    background: transparent url("../img/ecran1/fond.png") no-repeat scroll 30% 75%/cover; }
  #scene_ecran1 .layer .msg {
    width: 40%; }
  #scene_ecran1 .layer .cars {
    position: absolute;
    bottom: 16.5%;
    width: 160%; }
    #scene_ecran1 .layer .cars img {
      width: 180px !important; }
    #scene_ecran1 .layer .cars .green_car, #scene_ecran1 .layer .cars .yellow_car {
      margin-bottom: 28px; }

  #scene_ecran2 .msg {
    width: 40%;
    top: 0;
    height: 50%; }
    #scene_ecran2 .msg img {
      position: absolute;
      width: 100%;
      top: -2%;
      left: -20%;
      bottom: 0;
      right: 0; }
  #scene_ecran2 .bateau_etape2 {
    position: absolute;
    bottom: 7% !important;
    width: 90%;
    margin-left: 12%; }
    #scene_ecran2 .bateau_etape2 img {
      width: 70%; }

  #scene_ecran3 .msg {
    width: 40%; }
    #scene_ecran3 .msg img {
      position: absolute;
      width: 90%;
      top: 5%;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10; }
  #scene_ecran3 .bateau_etape3 {
    position: absolute;
    bottom: 7% !important;
    width: 50%; }
    #scene_ecran3 .bateau_etape3 img {
      width: 100%; }
  #scene_ecran3 .phare {
    position: absolute;
    bottom: 10% !important;
    left: 77% !important;
    width: 35%; }
    #scene_ecran3 .phare img {
      width: 80%; }
  #scene_ecran3 .rayon {
    top: 30%;
    right: 8.5%;
    transform-origin: 110% top; }
  #scene_ecran3 .lune {
    position: absolute;
    top: 20px !important;
    right: 20%; }
    #scene_ecran3 .lune img {
      width: 80px; }

  #scene_ecran4 .msg {
    width: 40%; }
    #scene_ecran4 .msg img {
      position: absolute;
      width: 90%;
      top: 20%;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10; }
  #scene_ecran4 .bateau_etape3 {
    position: absolute;
    bottom: 7% !important;
    width: 50%; }
    #scene_ecran4 .bateau_etape3 img {
      width: 90%; } }
