@import 'partials/keyframes';


$vert : #aad037;

body {
	font-family: Arial;
	margin: 0;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
} 

#container {
	display: table;
    height: 100%;
    left: 0;
    min-height: 460px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

ul {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.scene {
	display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#scene {
	min-height: 460px;
    overflow: hidden;
    position: relative;
    width: 1280px;
    margin: 0;
    padding: 0;

    .layer {
    	display: block;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    width: 100%;

	    div {
	    	backface-visibility: hidden;
		    transform: translate3d(0px, 0px, 0px);
		    transform-style: preserve-3d;
	    }
    }

    .logo {
    	left: 4% !important;
    	position: absolute;
    	top: 35px !important;

    	img {
    		width: 80px;
    	}
    }
}


// =======================================================================
// ==================== STYLES PAGE ACCUEIL ==============================
// =======================================================================

#scene_home {
	@extend #scene;
	.layer {
    	display: block;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    width: 100%;

	    div {
	    	backface-visibility: hidden;
		    transform: translate3d(0px, 0px, 0px);
		    transform-style: preserve-3d;
	    }
    }

    .logo {
    	top: 0 !important;
    }

    .fond {
    	background: rgba(0, 0, 0, 0) url("../img/home/fond.png") no-repeat scroll 50% 100% / cover ;
    	height: 100%;
    	width: 110%;
    	position: absolute;
    	left: -5%;
    	top: -10%;
    }

    .soleil {
    	right: 0;
    	position: absolute;
    	top: 30px !important;

    	img {
    		width: 180px;
    	}

    }

    .ile {
    	position: absolute;
    	bottom: 7%;
    	left: -5%;

    	img {
    		width: 70%;
    	}

    }
	
	.layer {
	    .nuages {
	    	width: 60%;
	    	top: -10px !important;
	    	left: 25% !important;
	    	position: absolute;
	    	margin: 0 auto;
	    	text-align: center;

	    	img {
				position: absolute;
	    	}

	    	.nuage2 {
	    		width: 25%;
	    		top: -40px !important;
	    		left: 5%;
	    	}

	    	.nuage0 {
	    		width: 25%;
	    		top: 0px !important; 
	    		left: 22%;
	    	}

	    	.small_cloud1 {
				top: 95px !important;
				left: 17%;
			}

			.small_cloud2 {
				left: 38%;
			    top: 76px !important;
			    z-index: -10;
			}

	    	.nuage1 {
	    		width: 25%;
	    		top: 10px !important;
	    		left: 35%;
	    	}

	    	.nuage6 {
	    		width: 25%;
	    		top: 10px;
	    		left: 50%;
	    		z-index: -8;
	    	}
	    }
	}

    .vague {
    	position: absolute;
    	@include animation('wave infinite 4s');
    	background: transparent none repeat-x scroll 0 0;
	    left: -100%;
	    width: 300%;
    }

    .vague::after {
	    background-color: #009AC2;
	    content: "";
	    display: block;
	    height: 500px;
	    left: 0;
	    position: absolute;
	    top: 100%;
	    width: 100%;
	}

	.vague1 {
		background-image: url(../img/home/vague_ronde1.png); 
		background-size: 80% 120px;
	    bottom: 40px !important;
	    height: 120px;
	}

	.vague2 {
		background-image: url(../img/home/vague_ronde2.png); 
		background-size: 80% 120px;
	    bottom: 10px !important;
	    height: 120px;
	    left: -80%;
	    @include animation('wave infinite 7.55556s');
		// animation: 7.55556s linear 0.1s normal none infinite running wave;
	}

	.vague3 {
		background-image: url(../img/home/vague_ronde3.png); 
		background-size: 80% 130px;
	    bottom: 0px !important;
	    height: 120px !important;
	    @include animation('wave infinite 6.66667s');
		// animation: 6.66667s linear 0.1s normal none infinite running wave;
	}

	.vague4 {
		background-image: url(../img/home/vague_ronde2.png); 
		background-size: 80% 130px;
	    bottom: 70px !important;
	    height: 120px !important;
	    @include animation('wave infinite 5.66667s');
		// animation: 6.66667s linear 0.1s normal none infinite running wave;
	}

	.bateau {
		position: absolute;
		bottom: 3% !important;
		left: 50%;
		width: 45%;

		img {
			width: 100%;
		}
	}

	.bateau.quit {
		animation: 6s boatMoveandquit;
	}

	.fish {
		position: absolute;
		bottom: -85px;
		right: 15%;
		animation: 8s infinite FishSwim; 
	}

	.msg_wrapper {
		z-index: 100;
	}

	.msg {
		margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
		text-align: center;
		height: 50%;

		h2 {
			color: #11668b;
			font-size: 40px;
		}

		h3 {
			color: #575858;
		}
	}

	.start_wrapper {
		z-index: 100;
	}

	.start {
		position: absolute;
        left: 40%;
        top: 50%;
        animation: PlaneFly linear 6s;
	    animation-iteration-count: infinite;
	    transform-origin: 50% 50%;
	    -webkit-animation: PlaneFly linear 6s;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-transform-origin: 50% 50%;
	    -moz-animation: PlaneFly linear 6s;
	    -moz-animation-iteration-count: infinite;
	    -moz-transform-origin: 50% 50%;
	    -o-animation: PlaneFly linear 6s;
	    -o-animation-iteration-count: infinite;
	    -o-transform-origin: 50% 50%;
	    -ms-animation: PlaneFly linear 6s;
	    -ms-animation-iteration-count: infinite;
	    -ms-transform-origin: 50% 50%;
	}

	#helice {
		@include animation('helice infinite 0.15s');
	    -moz-transform-style: preserve-3d;
	    -webkit-transform-style: preserve-3d;
	    transform-style: preserve-3d;
    	-moz-transform-origin: 67px 67px;
	}

	.btn_vert {
		height: 40px;
		line-height: 40px;
		width: 220px;
		background-color: $vert;
		display: block;
		color: #FFFFFF;
		font-weight: bold;
		text-decoration: none;
		margin: 0 auto;
		cursor: pointer;
		position: relative;
		box-shadow: 0px 4px 5px #71c0cd;
		text-align: center;
		text-transform: uppercase;
		float: left;
		top: 20px;
		margin-right: -50px;
	}
}

// =======================================================================
// ========================= STYLES ECRAN 1 ==============================
// =======================================================================

#scene_ecran1 {
	@extend #scene_home;

	.fond {
    	background: rgba(0, 0, 0, 0) url("../img/ecran1/fond.png") no-repeat scroll 50% 50% / cover ;
    	height: 100%;
    	width: 110%;
    	position: absolute;
    	left: -5%;
    	top: -5%;
    }

    .soleil {
		position: absolute;
		top: -2% !important;
		right: 0;

    	img {

    		width: 120px;
    	}
    }

	// .batiments {
	// 	position: absolute;
	// 	// top: 25%;
 //  //   	background-image: url(../img/ecran1/batiments.png);
 //  //   	background-size: 100% 100%;
 //  //   	background-repeat: no-repeat;
 //  //   	height: auto;
 //  //   	width: 100%;
 //  		bottom: 6%;

 //  		img {
 //  			width: 100%;
 //  		}
	// }

	.msg {
		// margin: auto;
  		// position: absolute;
  		// top: -60%; left: 0; bottom: 0; right: 0;
		// text-align: center;
		// height: 25%;
		width: 50%;
		// background-color: #FFFFFF;
		// box-shadow: 0 1px 5px #b3b3b3;
		top: 0;
		height: 50%;
		cursor: pointer;

		img {
			position: absolute;
			width: 100%;
			top: 10%; left: 0; bottom: 0; right: 0;
			z-index: 10;
		}

		.btn_suite {
			width: 240px;
			left: 60%;
			position: absolute;
			z-index: 9;
		}

		h4{
			font-size: 1.4rem;
			color: #545454;
			height: 100%;
			margin: 0;
			padding: 7% 40px 0 40px;
		}
	}

	.nuages_float {
		position: absolute;
		top: 35% !important;
		width: 100%;

		div {
			float: left;
		}

		.nuage1 {
			margin-top: 30px;
		}

		.nuages2 {
			margin-left: 20%;
		}

		.nuage3 {
			margin-left: 20%;
		}
	}

	.cars {
		position: absolute;
		bottom: 19%;
		width: 140%;

		img {
			width: 120px;
		}

		.green_car, .yellow_car {
			margin-bottom: 25px;
			z-index: -1;
		}
	}

	.people {
		position: absolute;
		bottom: 18%;

		img {
			width: 50%;
		}

		.people1 {
			float: left;
		}
	}

	.bateau {
		bottom: -3% !important;

		@media only screen and (min-height: 860px) {
			bottom: 3% !important;
		}
	}

	.vague1 {
		background-size: 80% 120px;
	    bottom: 10px !important;
	    height: 100px;
	}

	.vague2 { 
		background-size: 80% 120px;
	    bottom: -10px !important;
	    height: 100px;
	}

	.vague3 {
		background-size: 80% 130px;
	    bottom: -70px !important;
	    height: 100px !important;
	}

	.vague4 {
		background-size: 80% 130px;
	    bottom: 40px !important;
	    height: 100px !important;
	}
}



// =======================================================================
// ========================= STYLES ECRAN 2 ==============================
// =======================================================================

#scene_ecran2 {
	@extend #scene_home;

	.fond {
    	background: rgba(0, 0, 0, 0) url("../img/ecran2/fond.png") no-repeat scroll 50% 62% / cover ;
    	height: 110%;
    	width: 110%;
    	position: absolute;
    	left: -5%;
    	top: -5%;
    }

    .soleil {
		position: absolute;
		top: -2% !important;
		right: 0;

    	img {

    		width: 120px;
    	}
    }

    .msg_wrapper {
    	position: relative;
    }

	.msg {
		width: 50%;
		top: 0;
		height: 50%;
		cursor: pointer;

		img {
			width: 100%;
			top: 5%; left: -20%; bottom: 0; right: 0;
		}
	}

	.nuages_float {
		position: absolute;
		top: 42% !important;
		width: 100%;

		div {
			float: left;
		}

		.nuage1 {
			margin-top: 30px;
		}

		.nuages2 {
			margin-left: 20%;
		}

		.nuage3 {
			margin-left: 20%;
		}
	}

	.bateau_etape2 {
		position: absolute;
		bottom: 5% !important;
		width: 90%;

		img {
			width: 100%;
		}

	}

	.grue {
		position: absolute;
		right: 5%;
		bottom: 15%;
		width: 40%;

		#caisse {
			position: absolute;
			width: 70% !important;
			// @include animation('caisse infinite 6s');
		}

		#fil_droit {
			position: absolute;
			// -moz-transform-origin: 0 100%;
			// -ms-transform-origin: 0 100%;
			// @include animation('fil infinite 6s');
		}
	}

	.vague1 {
		background-size: 80% 120px;
	    bottom: 20px !important;
	    height: 100px;
	}

	.vague2 { 
		background-size: 80% 120px;
	    bottom: 0px !important;
	    height: 100px;
	}

	.vague3 {
		background-size: 80% 130px;
	    bottom: -60px !important;
	    height: 100px !important;
	}

	.vague4 {
		background-size: 80% 130px;
	    bottom: 50px !important;
	    height: 100px !important;
	}
}




// =======================================================================
// ========================= STYLES ECRAN 3 ==============================
// =======================================================================

#scene_ecran3 {
	@extend #scene_home;

	.fond {
    	background: rgba(0, 0, 0, 0) url("../img/ecran3/fond.png") no-repeat scroll 50% 40% / cover ;
    	height: 100%;
    	width: 110%;
    	position: absolute;
    	left: -5%;
    	top: -5%;
    }

    .lune {
		position: absolute;
		top: 0 !important;
		right: 20%;

    	img {
    		width: 80px;
    	}
    }

	.msg {
		width: 50%;
		top: -90%;
		left: -20%;
		height: 50%;
		cursor: pointer;

		img {
			position: absolute;
			width: 90%;
			top: 10%; left: 0; bottom: 0; right: 0;
			z-index: 10;
		}
	}

	.bateau_etape3 {
		position: absolute;
		bottom: 8% !important;
		width: 50%;

		img {
			width: 100%;
		}
	}

	.phare {
		position: absolute;
		bottom: 10% !important;
		left: 74% !important;
		width: 35%;

		img {
			width: 100%;
		}
	}

	.rayon {
		top: 35%;
		right: 5%;
		position: absolute;
		transform-origin: 110% top;

		@media only screen and (min-height: 880px) {
			top: 41% !important;
			right: 7%;
		}
		@media only screen and (min-height: 860px) {
			top: 41% !important;
			right: 7%;
		}
		@media only screen and (min-height: 820px) {
			top: 33%;
		}
		
	}

	.vague1 {
		background-size: 80% 120px;
	    bottom: -20px !important;
	    height: 100px;
	}

	.vague2 { 
		background-size: 80% 120px;
	    bottom: -30px !important;
	    height: 100px;
	}

	.vague3 {
		background-size: 80% 130px;
	    bottom: -70px !important;
	    height: 100px !important;
	}

	.vague4 {
		background-size: 80% 130px;
	    bottom: 20px !important;
	    height: 100px !important;
	}
}



// =======================================================================
// ========================= STYLES ECRAN 4 ==============================
// =======================================================================

#scene_ecran4 {
	@extend #scene_home;

	.fond {
    	background: rgba(0, 0, 0, 0) url("../img/ecran4/fond.png") no-repeat scroll 50% 62% / cover ;
    	height: 100%;
    	width: 110%;
    	position: absolute;
    	left: -5%;
    	top: -5%;
    }

    .mongolfiere {
    	position: absolute;
		top: 0 !important;
		right: 5%;

    	img {
    		width: 80px;
    	}
    }

    .msg_wrapper {
    	heigh: 90%;
    }


	.msg {
		width: 50%;
		top: -90%;
		left: -20%;
		height: 50%;
		cursor: pointer;

		img {
			position: absolute;
			width: 100%;
			top: 20%; left: 5%; bottom: 0; right: 0;
			z-index: 10;
		}
	}

	.replay_wrapper {
		z-index: 110;
		position: absolute;
		top: 90% !important;
		cursor: pointer;
		width: 280px;
		height:60px;
	}

	.replay {
		

		img {
			z-index: 10;
			width: 200px;
		}
	}

	.bateau_etape4 {
		position: absolute;
		bottom: 7% !important;
		width: 50%;

		img {
			width: 100%;
		}
	}

	.vague1 {
		background-size: 80% 120px;
	    bottom: -20px !important;
	    height: 100px;
	}

	.vague2 { 
		background-size: 80% 120px;
	    bottom: -30px !important;
	    height: 100px;
	}

	.vague3 {
		background-size: 80% 130px;
	    bottom: -70px !important;
	    height: 100px !important;
	}

	.vague4 {
		background-size: 80% 130px;
	    bottom: 20px !important;
	    height: 100px !important;
	}

	.nuages_float {
		position: absolute;
		top: 35% !important;
		width: 100%;

		div {
			float: left;
		}

		.nuage1 {
			margin-top: 30px;
		}

		.nuages2 {
			margin-left: 20%;
		}

		.nuage3 {
			margin-left: 20%;
		}
	}
}


@media only screen and (min-height: 599px) and (max-height: 699px) {
	@import 'partials/mediaqueries600';
}

@media only screen and (min-height: 799px) {
	@import 'partials/mediaqueries800';
}

@media only screen and (min-height: 900px) {
	@import 'partials/mediaqueries980';
}

@media only screen and (min-height: 767px) and (max-height: 770px) {
	@import 'partials/mediaqueries768';
}

@media only screen and (min-height: 767px) and (max-height: 770px) and (min-width: 1023px) and (max-width: 1025px) {
	@import 'partials/tablettes';
}




// ================================================================================
// ========================= STYLES LARGEUR + 1600px ==============================
// ================================================================================
@media only screen and (min-width: 1600px) {
	#scene_home {
		.layer {
			.nuages {
		    	width: 40%;
		    	margin-left: 7%;
		    }
		}

		.start {
			left: 45%;
		}
	} 


	#scene_ecran1 {
		.layer {

			.fond {
				background: rgba(0, 0, 0, 0) url("../img/ecran1/fond.png") no-repeat scroll 30% 75% / cover;
			}

			.msg {
				width: 40%;
			}

			.cars {
				position: absolute;
				bottom: 16.5%;
				width: 160%;

				img {
					width: 180px !important;
				}

				.green_car, .yellow_car {
					margin-bottom: 28px;
				}
			}
		}
	}

	#scene_ecran2 {
		.msg {
			width: 40%;
			top: 0;
			height: 50%;

			img {
				position: absolute;
				width: 100%;
				top: -2%; left: -20%; bottom: 0; right: 0;
			}
		}

		.bateau_etape2 {
			position: absolute;
			bottom: 7% !important;
			width: 90%;
			margin-left: 12%;

			img {
				width: 70%;
			}

		}
	} 

	#scene_ecran3 {
		.msg {
			width: 40%;

			img {
				position: absolute;
				width: 90%;
				top: 5%; left: 0; bottom: 0; right: 0;
				z-index: 10;
			}
		}

		.bateau_etape3 {
			position: absolute;
			bottom: 7% !important;
			width: 50%;

			img {
				width: 100%;
			}
		}

		.phare {
			position: absolute;
			bottom: 10% !important;
			left: 77% !important;
			width: 35%;

			img {
				width: 80%;
			}
		}

		.rayon {
			top: 30%;
			right: 8.5%;
			transform-origin: 110% top;

		}

		.lune {
			position: absolute;
			top: 20px !important;
			right: 20%;

	    	img {
	    		width: 80px;
	    	}
	    }
	}

	#scene_ecran4 {
		.msg {
			width: 40%;

			img {
				position: absolute;
				width: 90%;
				top: 20%; left: 0; bottom: 0; right: 0;
				z-index: 10;
			}
		}

		.bateau_etape3 {
			position: absolute;
			bottom: 7% !important;
			width: 50%;

			img {
				width: 90%;
			}
		}
	}
}
