// Vendor prefixing for shorthand properties
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@include keyframes(wave) {
	0% {
	    transform: rotateZ(0deg) translate3d(0px, 8%, 0px) rotateZ(0deg);
	}
	100% {
	    transform: rotateZ(360deg) translate3d(0px, 8%, 0px) rotateZ(-360deg);
	}
}

@keyframes lighthouse {
	0% {
	    transform: translate3d(7%, 0px, 0px) rotateZ(3deg);
	}
	100% {
	    transform: translate3d(-7%, 0px, 0px) rotateZ(-3deg);
	}
}

@keyframes boat {
	0% {
	    transform: translate3d(3%, 0px, 0px) rotateZ(2deg);
	}
	100% {
	    transform: translate3d(-3%, 0px, 0px) rotateZ(-2deg);
	}
}

@keyframes lighthouseMove {
	0% {
	    left: 0;
	}
	50% {
	    left: 7%;
	}
	100% {
		left: 0%;
	}
}

@include keyframes(boatMove) {
	0% {
	    left: 50%;
	    transform: translate3d(3%, 0px, 0px) rotateZ(2deg);
	}
	50% {
	    left: 57%;
	    transform: translate3d(-3%, 0px, 0px) rotateZ(-2deg);
	}
	100% {
		left: 50%;
		transform: translate3d(3%, 0px, 0px) rotateZ(2deg);
	}
}

@keyframes boatMoveandquit {
	0% {
	    left: 50%;
	}
	100% {
	    left: 110%;
	}
}

@keyframes rayon {
	0%{
		transform: rotateZ(0deg);
	}
	50%{
		transform: rotateZ(-3deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}

@keyframes FishSwim {
	0%{
		right: 15%;
	}
	50%{
		right: 10%;
	}
	80% {
		right: 5%;
		bottom: -75px; 
	}
	100% {
		right: 15%;
	}
}

@include keyframes(helice) {
	0%{
		 transform: rotateX(0deg);
	}
	50% {
		 transform: rotateX(180deg);
	}
	100%{
		 transform: rotateX(360deg);
	}
}

@include keyframes(caisse) {
	// 0%{
	// 	 transform: rotate(0deg);
	// }
	// 50% {
	// 	 transform: rotate(-10deg);
	// }
	// 100%{
	// 	 transform: rotate(0deg);
	// }

	0%{
		 transform: translateY(0);
	}
	50% {
		 transform: translateY(40px);
	}
	100%{
		 transform: translateY(0);
	}
}

@include keyframes(fil) {
	0%{
		transform: scaleY(1.1);
	}
	50% {
		transform: scaleY(1.2);
	}
	100%{
		transform: scaleY(1.1);
	}
}