// ========================****************************** ===========================
// ======================= **** HEIGHT 600px - 700px **** ===========================
// ======================= ****************************** ===========================
#scene_home {
	.layer {

		.msg {
			top: -15%;

			h2 {
				font-size: 28px;
			}

			h3 {
				font-size: 16px;
			}
		}

		.start {
			top: 37%;
		}

		.nuages {
	    	width: 40%;
	    	top: -30px !important;
	    	left: 35%;

	    	.nuage2 {
				width: 20%;
				top: 10px !important;
	    	}

	    	.small_cloud1 {
    			top: 95px !important;
    			left: 17%;
    		}

    		.small_cloud2 {
    			left: 38%;
			    top: 76px !important;
			    z-index: -10;
    		}

	    	.nuage0 {
				width: 20%;
	    	}

	    	.nuage1 {
				width: 20%;
	    	}

	    	.nuage6 {
				width: 20%;	    		
	    	}
	    }
    
		.vague1 {
			background-image: url(../img/home/vague_ronde1.png); 
			background-size: 80% 120px;
		    bottom: 60px !important;
		    height: 100px;
		}

		.vague2 {
			background-size: 80% 120px;
		    bottom: 20px !important;
		    height: 100px;
		    left: -80%;
		}

		.vague3 {
			background-size: 80% 130px;
		    bottom: -10px !important;
		    height: 100px !important;
		}

		.vague4 {
			background-size: 80% 130px;
		    bottom: 80px !important;
		    height: 100px !important;
		}

		.batiments {
			top: 35% !important;
		}

		.bateau {
			bottom: 5% !important;
		}
	}
}



// ======== ECRAN 1 (height 600px) ===========
#scene_ecran1 {
	.layer {

		.fond {
			background: rgba(0, 0, 0, 0) url("../img/ecran1/fond.png") no-repeat scroll 100% 100% / cover ;
	    	height: 105%;
	    	width: 110%;
	    	left: -5%;
	    	top: -5%;
	    }

	    .msg {

	    	// top: -45%;
	    	height: 65%;
	    	max-width: 40%;

	    	img {
	    		// width: 40%;
	    		top: 5%;
	    	}
	    }

		.vague1 {
			background-size: 80% 120px;
		    bottom: 20px !important;
		    height: 100px;
		}

		.vague2 { 
			background-size: 80% 120px;
		    bottom: 0px !important;
		    height: 100px;
		}

		.vague3 {
			background-size: 80% 130px;
		    bottom: -60px !important;
		    height: 100px !important;
		}

		.vague4 {
			background-size: 80% 130px;
		    bottom: 30px !important;
		    height: 100px !important;
		}

		.bateau {
			bottom: -4% !important;

			img {
				width: 80%;
			}
		}

		.batiments {
			top: 50% !important;
		}

		.people {
			bottom: 20%;
		}

		.msg {
			h4 {
				font-size: 1.4rem;
			}
		}

		.cars {
			position: absolute;
			bottom: 18.5%;
			width: 140%;

			img {
				width: 120px;
			}

			.green_car, .yellow_car {
				margin-bottom: 18px;
			}
		}
	}
}


// ======== ECRAN 2 (height 600px) ===========
#scene_ecran2 {
	
}