// ========================****************************** ===========================
// ======================= **** HEIGHT 600px - 700px **** ===========================
// ======================= ****************************** ===========================
#scene_home {
	.layer {

		.msg {
			top: -15%;

			h2 {
				font-size: 28px;
			}

			h3 {
				font-size: 16px;
			}
		}

		.start {
			top: 37%;
		}

		.nuages {
	    	width: 40%;
	    	top: -30px !important;
	    	left: 35% !important;

	    	.nuage2 {
				width: 20%;
				top: 10px !important;
	    	}

	    	.small_cloud1 {
    			top: 95px !important;
    			left: 17%;
    		}

    		.small_cloud2 {
    			left: 38%;
			    top: 76px !important;
			    z-index: -10;
    		}

	    	.nuage0 {
				width: 20%;
	    	}

	    	.nuage1 {
				width: 20%;
	    	}

	    	.nuage6 {
				width: 20%;	    		
	    	}
	    }
    
		.vague1 {
			background-image: url(../img/home/vague_ronde1.png); 
			background-size: 80% 120px;
		    bottom: 60px !important;
		    height: 100px;
		}

		.vague2 {
			background-size: 80% 120px;
		    bottom: 20px !important;
		    height: 100px;
		    left: -80%;
		}

		.vague3 {
			background-size: 80% 130px;
		    bottom: -10px !important;
		    height: 100px !important;
		}

		.vague4 {
			background-size: 80% 130px;
		    bottom: 80px !important;
		    height: 100px !important;
		}

		.batiments {
			top: 35% !important;
		}

		.bateau {
			bottom: 5% !important;
		}
	}
}



// ======== ECRAN 1 (height 600px) ===========
#scene_ecran1 {
	.layer {

		.fond {
			background: rgba(0, 0, 0, 0) url("../img/ecran1/fond.png") no-repeat scroll 100% 100% / cover ;
	    	height: 105%;
	    	width: 110%;
	    	left: -5%;
	    	top: -5%;
	    }

	    .nuages_float {
			position: absolute;
			top: 25% !important;
		}

	    .msg {

	    	// top: -45%;
	    	height: 65%;
	    	max-width: 40%;

	    	img {
	    		// width: 40%;
	    		top: 5%;
	    	}
	    }

		.vague1 {
			background-size: 80% 120px;
		    bottom: 20px !important;
		    height: 100px;
		}

		.vague2 { 
			background-size: 80% 120px;
		    bottom: 0px !important;
		    height: 100px;
		}

		.vague3 {
			background-size: 80% 130px;
		    bottom: -60px !important;
		    height: 100px !important;
		}

		.vague4 {
			background-size: 80% 130px;
		    bottom: 30px !important;
		    height: 100px !important;
		}

		.bateau {
			bottom: -4% !important;

			img {
				width: 80%;
			}
		}

		.batiments {
			top: 50% !important;
		}

		.people {
			bottom: 20%;
		}

		.msg {
			h4 {
				font-size: 1.4rem;
			}
		}

		.cars {
			position: absolute;
			bottom: 18.5%;
			width: 140%;

			img {
				width: 120px;
			}

			.green_car, .yellow_car {
				margin-bottom: 18px;
			}
		}
	}
}


// ======== ECRAN 2 (height 600px) ===========
#scene_ecran2 {
	.layer {
		.fond {
			background: rgba(0, 0, 0, 0) url("../img/ecran2/fond.png") no-repeat scroll 100% 100% / cover ;
	    	height: 105%;
	    	width: 110%;
	    	left: -5%;
	    	top: -5%;
	    }

		.msg {
	    	height: 65%;
	    	left: -30%;
	    	max-width: 40%;

	    	img {
	    		margin-top: 7%;
	    	}
	    }

	    .bateau_etape2 {
	    	position: absolute;
			bottom: 10% !important;

			img {
				width: 88%;
			}
		}

		.grue {
			right: 5%;
			bottom: 17%;
			width: 40%;
		}
	}
	
}



// ======== ECRAN 3 (height 600px) ===========
#scene_ecran3 {

	.fond {
    	background: rgba(0, 0, 0, 0) url("../img/ecran3/fond.svg") no-repeat scroll 50% 40% / cover ;
    	height: 90%;
    	width: 110%;
    	position: absolute;
    	left: -5%;
    	top: -5%;
    }

	.msg {
    	height: 65%;
    	max-width: 40%;

    	img {
    		margin-top: 8%;
    	}
    }

    .lune {
		right: 15%;

    	img {
    		width: 70px;
    	}
    }

    .phare {
		position: absolute;
		bottom: 8% !important;
		left: 75% !important;
		width: 32%;

		img {
			width: 90%;
		}
	}

	.rayon {
		top: 27%;
		right: 8%;
		position: absolute;
		// animation: 8s infinite rayon;
		transform-origin: 110% top;

	}

	.bateau_etape3 {
		position: absolute;
		bottom: 12% !important;
		width: 50%;

		img {
			width: 100%;
		}
	}
}


// ======== ECRAN 4 (height 600px) ===========
#scene_ecran4 {
	.fond {
    	background: rgba(0, 0, 0, 0) url("../img/ecran4/fond.png") no-repeat scroll 100% 100% / cover ;
    	height: 100%;
    	width: 110%;
    	position: absolute;
    	left: -5%;
    	top: -5%;
    }

    .bateau_etape4 {
		position: absolute;
		bottom: 12% !important;
		width: 50%;

		img {
			width: 100%;
		}
	}

	.msg {
		max-width: 42%;
		top: -90%;
		left: -20%;
		height: 50%;
		cursor: pointer;

		img {
			position: absolute;
			width: 100%;
			top: 20%; left: 5%; bottom: 0; right: 0;
			z-index: 10;
		}
	}

	.nuages_float {
		position: absolute;
		top: 30% !important;
		width: 100%;
	}
}