// ========================****************************** ===========================
// ======================= **** HEIGHT 800px - 900px **** ===========================
// ======================= ****************************** ===========================
#scene_home {
	.layer {

		.msg {
			h2 {
				font-size: 40px;
				font-weight: 700;
			}

			h3 {
				font-size: 20px;
			}
		}
		
		.nuages {
	    	width: 50%;
	    	top: -20px !important;
	    	left: 40%;
	    	position: absolute;
	    	margin: 0 auto;
	    	margin-left: 5%;
	    	text-align: center;

	    	img {
				position: absolute;
	    	}

	    	.nuage2 {
	    		width: 25%;
	    		top: -30px !important;
	    		left: 5%;
	    	}

	    	.nuage0 {
	    		width: 25%;
	    		top: -15px !important; 
	    		left: 22%;
	    	}

	    	.small_cloud1 {
				top: 110px !important;
				left: 14%;
				width: 15%;
			}

			.small_cloud2 {
				left: 45%;
			    top: 140px !important;
			    z-index: -10;
			}

	    	.nuage1 {
	    		width: 25%;
	    		top: 10px !important;
	    		left: 35%;
	    	}

	    	.nuage6 {
	    		width: 25%;
	    		top: 10px;
	    		left: 50%;
	    		z-index: -8;
	    	}
	    }
    
		.vague1 {
			background-image: url(../img/home/vague_ronde1.png); 
			background-size: 80% 120px;
		    bottom: 80px !important;
		    height: 80px;
		}

		.vague2 {
			background-size: 80% 120px;
		    bottom: 40px !important;
		    height: 80px;
		    left: -80%;
		}

		.vague3 {
			background-size: 80% 130px;
		    bottom: 0px !important;
		    height: 80px !important;
		}

		.vague4 {
			background-size: 80% 130px;
		    bottom: 100px !important;
		    height: 80px !important;
		}

		.batiments {
			top: 35% !important;
		}

		.bateau {
			bottom: 4% !important;

			@media only screen and (min-height: 940px) {
				bottom: -1% !important;
			}
		}

		.btn_vert {
			width: 300px;
			height: 50px;
			line-height: 50px;
			top:-20px;
			margin-left: -60px;
		}


	}
}



// ======== ECRAN 1 (height 900px) ===========
#scene_ecran1 {
	.layer {

		.fond {
			background: rgba(0, 0, 0, 0) url("../img/ecran1/fond.png") no-repeat scroll 50% 50% / cover ;
	    	height: 100%;
	    	width: 110%;
	    	left: -5%;
	    	top: -5%;
	    }

		.vague1 {
			background-size: 80% 120px;
		    bottom: 50px !important;
		    height: 100px;
		}

		.vague2 { 
			background-size: 80% 120px;
		    bottom: 30px !important;
		    height: 100px;
		}

		.vague3 {
			background-size: 80% 130px;
		    bottom: -20px !important;
		    height: 100px !important;
		}

		.vague4 {
			background-size: 80% 130px;
		    bottom: 60px !important;
		    height: 100px !important;
		}

		.bateau {
			bottom: -3% !important;

			img {
				width: 80%;
			}
		}

		.batiments {
			top: 42% !important;
		}

		.people {
			bottom: 20%;
		}

		.msg {
			width: 50%;
			top: 0;
			height: 50%;
			cursor: pointer;

			img {
				position: absolute;
				width: 100%;
				top: 5%; left: 0; bottom: 0; right: 0;
				z-index: 10;
			}
		}

		.cars {
			position: absolute;
			bottom: 18.5%;
			width: 160%;

			@media only screen and (min-height: 940px) {
				bottom: 18% !important;
			}

			img {
				width: 180px !important;
			}

			.green_car, .yellow_car {
				margin-bottom: 28px;
			}
		}
	}
}


// ======== ECRAN 2 (height 900px) ===========
#scene_ecran2 {

	
}


// ======== ECRAN 3 (height 900px) ===========
#scene_ecran3 {
	.phare {
		position: absolute;
		bottom: 10% !important;
		left: 74% !important;
		width: 35%;

		img {
			width: 100%;
		}
	}

	.rayon {
		top: 39%;
		right: 8%;
		position: absolute;
		transform-origin: 110% top;

		@media only screen and (min-height: 940px) {
			top: 38% !important;
		}

	}

	.msg {
		width: 55%;
		left: -7%;

		img {
			margin-top: 5%;
		}
	}
}