#scene_home {
	.layer {

		.fond {
			background: rgba(0, 0, 0, 0) url("../img/home/fond.png") no-repeat scroll 100% 100% / cover ;
    		height: 94%;
		}

		.bateau {
			bottom: 8% !important;
			width: 50%;
		}

		.ile {
	    	position: absolute;
	    	bottom: 9%;
	    	left: -5%;

	    	img {
	    		width: 80%;
	    	}

	    }

	    .btn_vert {
	    	top: 0;
	    }

	    .nuages {
	    	width: 60%;
	    	top: -30px !important;
	    	left: 35% !important;

	    	.nuage2 {
				width: 20%;
				top: 10px !important;
	    	}

	    	.small_cloud1 {
    			top: 125px !important;
    			left: 17%;
    		}

    		.small_cloud2 {
    			left: 38%;
			    top: 100px !important;
			    z-index: -10;
    		}

	    	.nuage0 {
				width: 20%;
	    	}

	    	.nuage1 {
				width: 20%;
	    	}

	    	.nuage6 {
				width: 20%;	    		
	    	}
	    }
	}
}




// ======== ECRAN 1  ===========
#scene_ecran1 {
	.layer {

		.fond {
	    	// background: rgba(0, 0, 0, 0) url("../img/ecran1/fond.png") no-repeat scroll 50% 50% / cover ;
	    	height: 70%;
	    	width: 110%;
	    	position: absolute;
	    	left: -5%;
	    	top: -5%;
	    }
	}
}





// ======== ECRAN 3  ===========
#scene_ecran3 {
	.layer {
		.rayon {
			top: 26%;
			right: 7%;
			transform-origin: 110% top;

		}
	}
}